<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 这里自行配置公告内容 -->

    <!--
        这里是公告内容
        <br>
        配置相关说明请看<strong>_config.yml</strong>
    -->
    欢迎光临这个鶸的博客，
    <br>
    这是这货半夜睡不着在网上众多开源大佬的帮助下弄出来的，其中最关键的是<a href="https://blog.csdn.net/willxue123">@willxue_top</a>的<a href="https://blog.csdn.net/willxue123/article/details/50994799">Hexo系列教程之一：hexo+github搭建独立博客</a>和
    <a href="https://github.com/ZEROKISEKI">@ZEROKISEKI</a>的hexo主题<a href="https://github.com/ZEROKISEKI/hexo-theme-gal">gal</a>
    <br>
    如果你也想弄一个，可以点击上面几个链接，这两位大佬的教程都超全的，需要自定义的配置部分几乎都是小白级操作。
    <br>
    以及，非常感谢<a href="https://github.com/xCss">@xCss</a>巨佬在GitHub上的项目<a href="https://github.com/xCss/bing">Bing Pictures Interface | 必应壁纸接口</a>
    <br>
    本博客使用了这位巨佬提供的<a href="http://bing.ioliu.cn/v1/rand">随机bing日图API</a>作为未指定预览图的文章的默认情况下预览图
    <br>
    愿你能在这里度过一段不好也不坏的时光（笑）
    <br>
    <br>
    <b style="color: rgb(238, 0, 0)">Attention!</b>由于评论模块对同一未登录用户的访问次数有合理的限制，评论功能显示受限一类字样时用GitHub账号登陆后可用
    <br>
    <b style="color: rgb(238, 0, 0)">Attention!</b>评论功能用GitHub账号登陆后可用
    <br>
    <b style="color: #ee0000">Attention!</b>评论功能用GitHub账号登陆后可用
    <br>
    <p style="color: #66ccff">PS:因为这个鶸租的那个服务器经常被他弄挂掉，所以本博客的资源文件几乎全是GitHub的一个repo里的文件，因此，如果您访问GitHub时发现浏览器无法加载CSS文件或图片，那么这个博客的很多图片也会加载不出来（正义的甩锅.jpg）</p>
    <!-- 自行配置公告内容结束 -->
</div>